---
---
@import "variables";
@import "bootstrap/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600");

/* TV BS OVR  -------------------- */
p { font-weight: 300; letter-spacing: .03em; }
ul { list-style-type: none; margin: 0; padding: 0 !important; }
hr {
  border:none;
  border-top:1px dotted #31c9fc;
  height:1px;
}

header { margin-bottom: 1em; }
@media screen and (max-width: 480px) {
  header h1 {
    font-size: 1.9em;
    margin-top: 4px;
  }
}

.font-weight-normal { font-weight: 300; }
.row { margin: 0; }

/* sub headers -------------------- */
.sub-header { margin-bottom: 15px; }
.sub-header p { margin-bottom: 2em; }
.sub-header h2 { margin-bottom: .5em; }

/* scrollto IDs -------------------- */
#tv-intro, #tv-solutions, #tv-experience, #tv-brands, #tv-values, #tv-work, #tv-outro {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
/* intro -------------------- */
#tv-intro {
  background-image: radial-gradient(circle closest-corner at 50% 50%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url('../images/hero/lafayette_park_sf.jpg');
  background-position: center right;
  background-attachment: scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  padding: 125px 0;
}
#tv-intro a { color: #fff; }
.tv-logo {
  padding-right: 50px;
  padding-bottom: 60px;
}
.tv-intro-quote { font-size: 1.2em; padding: 1.4em .5em; }
.intro-cta { padding: 1em 0; }

@media screen and (max-width: 480px) {
	.tv-logo {
    padding: 0px 45px 20px 30px;
  }
  #tv-intro .display-3 { font-size: 2.8em; }
  .lead { font-size: 1.1em; }
  .tv-intro-quote {
    font-size: 1em;
    padding: .5em;
  }
  .intro-cta { padding: 0; }
}

/* solutions -------------------- */
#tv-solutions .fa { padding-bottom: .5em; }
.tv-service { padding: 50px 20px; }
.tv-profile-pic { margin-bottom: 2em; }

/* values -------------------- */
.tv-values-list h3 { margin: 1em 0; text-shadow: 1px 1px #fff; }
.tv-values-list p { margin-bottom: 3em; font-weight: 400; }

/* experience -------------------- */
.tv-recommendations { padding-top: 2em; }

#carousel-recommendations  { padding-bottom: 80px;}
#carousel-recommendations .carousel-indicators li { background-color: #eee; }
#carousel-recommendations .carousel-indicators .active { background-color: #00bfff; }
/* work -------------------- */
.tv-project {
  text-align: left;
  padding: 50px 0;
}
.tv-project-date { margin-bottom: 50px; }
.tv-project-details { padding-top: .5em; }

//  --------------------  //
/* JOURNAL -------------------- */
//  --------------------  //
.journal-list { margin: 2em 0; font-weight: 300;}
.journal-list li {
	padding-bottom: 2em;
}
.journal-list li a {
  font-size: 3em;
  display:block;
  line-height: normal;
}

//  --------------------  //
/* STYLE GUIDE -------------------- */
//  --------------------  //
.style-section { margin: 1em 0 2em 0; }

//  --------------------  //
/* HELPERS -------------------- */
.light-gray-bg { background-color: #eee; }
.width-50pc { width: 50%; }
.width-max-980 {
  max-width: 980px;
  margin: auto;
}

// Main Nav Icons -------------------- */
ul.icon-nav {
	cursor: default;
	list-style: none;
  padding:0;
  margin: 1.5em 0;
}
ul.icon-nav li {
	display: inline-block;
	padding-right: 2em;
  padding-left: .2em;
}
ul.icon-nav li:last-child { padding-right: 0; }
ul.icon-nav li .icon:before { font-size: 1.5em; }
ul.icon-nav .label { display: none; }

//  --------------------  //
/* MODALS -------------------- */
/* .modal-fullscreen size: we use Bootstrap media query breakpoints */
.modal-open .modal {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-y: scroll;
}
.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}
.modal-body { padding: 1em 0; }
.modal-content {
  height: 100%;
  border-radius: 0;
  background-color: transparent;
  overflow:auto;
  color: #fff;
  text-align: center;
  border: none;
}
.modal-footer, .modal-header {
  text-align: center;
	border: none;
	padding: 0;
}
.modal-header { padding-top: 2em; }
.modal button {
  background-color: transparent;
  border: none;
}

//  --------------------  //
/* MODAL NAVIGATION -------------------- */
.modal-nav  { width: 34px; }

/* nav modal close button animated */
#nav-icon4 {
  width: 30px;
  height: 24px;
  position: fixed;
  margin-top: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 2000;
  outline: 0;
}
#nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ff2c7e;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon4 span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon4 span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -2px;
  left: 4px;
}
#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 4px;
}

//  --------------------  //
/* ANIMATION -------------------- */
/* fade-in transition -------------------- */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	animation-duration:.5s;
}
