---
---
@import "variables";
@import "bootstrap/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600");

/* TV BS OVR  -------------------- */
p { font-weight: 300; letter-spacing: .03em; }
ul { list-style-type: none; margin: 0; padding: 0 !important; }
hr {
  border:none;
  border-top:1px dotted #31c9fc;
  height:1px;
}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 1.9em;
    margin-top: 4px;
  }
}

.font-weight-normal { font-weight: 300; }

/* sub headers -------------------- */
.sub-header { margin-bottom: 15px; }
.sub-header p { margin-bottom: 2em; }
.sub-header h2 { margin-bottom: .5em; }

/* scrollto IDs -------------------- */
#tv-intro, #tv-solutions, #tv-experience, #tv-brands, #tv-outro {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
#tv-footer, #tv-brands, #tv-outro {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
/* padding for each sub-page for header nav */
.tv-post, .tv-values, .tv-projects, .tv-styleguide, .tv-journal { padding-top: 4.5em; }

/* intro -------------------- */
#tv-intro {
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(#2c3e50 , #3498db); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#2c3e50 , #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: radial-gradient(circle closest-corner at 50% 50%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url('../images/hero/lafayette_park_sf.jpg');
  background-position: center right;
  background-attachment: scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  padding: 125px 0;
}
#tv-intro a { color: #fff; }

.tv-logo {
  padding: 10px 50px 60px 0 ;
}
.tv-intro-quote { font-size: 1.2em; padding: 1.4em .5em; }
.intro-cta { padding: 1em 0; }

@media screen and (max-width: 480px) {
	.tv-logo {
    padding: 10px 45px 20px 30px;
  }
  #tv-intro {
    padding: 50px 0;
  }
  #tv-intro .display-3 {
    font-size: 2.8em;
  }
  .lead {
    font-size: 1.25em;
  }
  .tv-intro-quote {
    font-size: 1.5em;
    padding: .5em;
  }
  .intro-cta { padding: 0; }
}

/* solutions -------------------- */
#tv-solutions .fa { padding-bottom: .5em; }
#tv-solutions.lead { padding: 0 50px;}
.tv-service { padding: 0 20px; }
@media screen and (max-width: 890px) {
  .tv-service { padding-bottom: 50px; }
}

.tv-profile-pic { margin-bottom: 2em; }

/* experience -------------------- */
.tv-recommendations { padding-top: 2em; }

#carousel-recommendations  { height: 420px; }
#carousel-recommendations .carousel-indicators li { background-color: #eee; }
#carousel-recommendations .carousel-indicators .active { background-color: #00bfff; }
@media screen and (max-width: 480px) {
	#carousel-recommendations  {
    height: 500px;
  }
}
@media screen and (max-width: 360px) {
	#carousel-recommendations  {
    height: 600px;
  }
}
.carousel-indicators {
  position: relative;
  padding: 0;
  margin: auto;
  left: 0;
}

/* work -------------------- */
.tv-project {
  text-align: left;
  padding: 50px 15px;
}
.tv-project-date { margin-bottom: 50px; }
.tv-project-details { padding-top: 1em; }

/* outro -------------------- */
.tv-email { margin-bottom: 50px; }

/* outro -------------------- */
#tv-footer { padding: 50px 0; text-align: center; }
.tv-footer-info {
  max-width: 460px;
  text-align: center;
  font-size: .7em;
  margin: auto;
  margin-bottom: 10px;
}

//  --------------------  //
/* VALUES -------------------- */
//  --------------------  //
.tv-values { padding-bottom: 3em; }
.tv-value-callout { padding-right: 2.5em; }
.tv-value-callout h3 { padding: 1em 0; text-shadow: 1px 1px #fff; }
.tv-value-callout p { margin-bottom: 3em; font-weight: 400; }

@media screen and (max-width: 768px) {
  .tv-value-callout { padding: 0 15px; }
  .tv-value-callout h3 { padding: .5em 0;}

}
//  --------------------  //
/* JOURNAL -------------------- */
//  --------------------  //
.journal-list, .tv-post-content { min-height:860px; }

.journal-list { margin-bottom: 2em; font-weight: 300;}
.journal-list li { padding-bottom: 2em; }
.journal-list li a {
  font-size: 3.5rem;
  display:block;
  line-height: normal;
}
.author-callout { margin: 100px 0; }
.author-callout img { padding: 10px 0; }

.tv-post-content ul {
  margin:25px 0;
  margin-left: 50px;
  list-style: circle;
}
@media screen and (max-width: 768px) {
  .tv-post-content ul { margin-left: 25px; }
}
//  --------------------  //
/* STYLE GUIDE -------------------- */
//  --------------------  //
.style-section { margin: 1em 0 2em 0; }

//  --------------------  //
/* HELPERS -------------------- */
.light-gray-bg { background-color: #eee; }
.width-50pc { width: 50%; }
.width-max-980 {
  max-width: 980px;
  margin: auto;
}
.popover {
    font-size: 1.1em;
    padding: 1em;
    color: #ffb400;
}

// Main Nav Icons -------------------- */
ul.icon-nav {
	cursor: default;
	list-style: none;
  padding:0;
  margin-bottom: 1em;
}
ul.icon-nav li {
	display: inline-block;
	padding-right: 2em;
  padding-left: .2em;
}
ul.icon-nav li:last-child { padding-right: 0; }

//  --------------------  //
/* MODALS -------------------- */
/* .modal-fullscreen size: we use Bootstrap media query breakpoints */
.modal-open .modal {
  padding-left: 0px !important;
  padding-right: 0px !important;
  /* overflow-y: scroll; */
}
.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
}
.modal-body { padding: 1em 0; }
.modal-content {
  height: 100%;
  border-radius: 0;
  background-color: transparent;
  overflow:auto;
  color: #fff;
  text-align: center;
  border: none;
}
.modal-footer, .modal-header {
  text-align: center;
	border: none;
	padding: 0;
}
.modal-header { padding-top: 2em; }
.modal button {
  background-color: transparent;
  border: none;
}
.modal-backdrop {
    z-index: 1000;
}

//  --------------------  //
/* NAVBAR MODAL NAV  -------------------- */
#nav-logo { position: fixed; z-index: 2000; }
.modal-nav.nav { margin: 50px 0; }
.navbar-color {
  background-color: #eee;
  height: 60px;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* nav modal close button animated */
#navbar-icon, #navbar-icon-splash {
  width: 32px;
  height: 24px;
  position: fixed;
  margin-top: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 2000;
  outline: 0;
  right: 16px;
}
#navbar-icon span, #navbar-icon-splash span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #00bfff;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#navbar-icon span:nth-child(1), #navbar-icon-splash span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#navbar-icon span:nth-child(2), #navbar-icon-splash span:nth-child(2) {
  top: 9px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#navbar-icon span:nth-child(3), #navbar-icon-splash span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#navbar-icon.open span:nth-child(1), #navbar-icon-splash.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -2px;
  left: 4px;
}
#navbar-icon.open span:nth-child(2), #navbar-icon-splash.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#navbar-icon.open span:nth-child(3), #navbar-icon-splash.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 20px;
  left: 4px;
}
//  --------------------  //
/* ANIMATION -------------------- */
/* fade-in transition -------------------- */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	animation-duration:.5s;
}
/* down arrow bounce -------------------- */
.bounce {
  -webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	animation-duration:.5s;
  -webkit-animation-iteration-count: 10;
  animation-iteration-count: 10;
}
