<footer id="tv-footer" class="container-fluid light-gray-bg">
  <div class="width-max-980">
    <p class="tv-footer-info">Thanks for visiting. Please feel free to <a href="mailto:hello@tonyvoorhees.com">email me</a> if you have questions or feedback.</p>
    <p class="tv-footer-info">Hit me up on social media</p>
    <ul class="icon-nav">
      <li><a href="https://www.behance.net/tonyvoorhees" target="_blank"><i class="fa fa-behance"></i></a></li>
      <li><a href="https://www.linkedin.com/in/tonyvoorhees" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://twitter.com/tonyvoorhees" target="_blank"><i class="fa fa-twitter"></i></a></li>
    </ul>
    <p class="tv-footer-info"><a class="page-scroll " href="#tv-header"><i class="fa fa-angle-up" aria-hidden="true"></i><br> TV {{ site.time | date: "%Y" }}</a></p>
  </div>
</footer>
