<header>
  <div class="container-fluid">
    <nav class="navbar navbar-fixed-top">
      <!-- site nav modal-->
      <div class="modal-nav">
        <a id="navbar-icon-splash" class="pull-right" href="#nav" data-toggle="modal" data-target="#nav-modal">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <div class="modal fade" id="nav-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- <div class="modal-header"></div> -->
              <div class="modal-body">
                <ul class="nav modal-nav">
                  <!-- <li class="nav-item"><a class="nav-link display-4" href="/projects">Projects</a></li> -->
                  <li class="nav-item"><a class="nav-link display-4" href="/journal">Journal</a></li>
                  <li class="nav-item"><a class="nav-link display-4" href="/values.html">Values</a></li>
                  <!-- <li class="nav-item"><a class="nav-link display-4" href="/projects/styleguide.html">Style Guide</a></li> -->
                </ul>
                <ul class="icon-nav">
                  <li><a href="https://www.behance.net/tonyvoorhees" target="_blank"><i class="fa fa-behance fa-2x"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/tonyvoorhees" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  <li><a href="https://twitter.com/tonyvoorhees" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                  <li><a href="mailto:hello@tonyvoorhees.com"><i class="fa fa-send fa-2x"></i></a></li>
                </ul>
              </div><!--/.modal-body -->
              <!-- <div class="modal-footer"></div>-->
            </div><!-- /.modal-content -->
          </div>
        </div>
      </div><!-- /.main-nav -->
    </nav>
  </div><!-- /.fluid-container -->
</header>
