<div class="row author-callout">
  <hr>
  <div class="col-md-2"><img class="img-circle img-fluid m-x-auto d-block" src="/images/tv/tv01.jpg" alt="Tony Voorhees" width="145"></div>
  <div class="col-md-9">
    <p>By <a href="http://tonyvoorhees.com/">Tony Voorhees</a></p>
    <p>Tony Voorhees is a San Francisco-based creative director specializing in interactive design and development. He enjoy's creating unique experiences and meaningful products people love to use.</p>
    <p><a href="https://twitter.com/tonyvoorhees" target="_blank">Follow him <i class="fa fa-twitter"></i></a></p>
  </div>
  <div class="col-md-1"></div>
</div><!-- /.row -->
