$body-bg: #fff;
$body-color: #333;

// Colors
$brand-primary:             #00bfff;
$brand-success:             #ffb400;
$brand-info:                #31c9fc;
$brand-warning:             #ff8300;
$brand-danger:              #f72c02;

// Links
$link-hover-decoration: none;

// Font, line-height, and color for body text, headings, and more.
$font-size-base: 1.1rem;
$font-family-base: "Source Sans Pro";
$line-height-base: 1.8;

$headings-font-family: "Source Sans Pro";

$lead-font-size: 1.8rem;

$text-muted: #B0B0B3;

$small-font-size: 60%;

// Modals
$modal-backdrop-opacity: .8;

// Mark highlight
$mark-bg: #ffb400;
$mark-padding: .2em .6em;

// Carousel
$carousel-indicator-size:                     14px;
$carousel-indicator-active-size:              14px;
@import "bootstrap/variables";
